/* Component Spacing */
.hero {
    height: 400px;
    margin: auto;
    background-color: white;
    
}

/* Text Overlay */
.hero-text {
    position: absolute;
    top: 20%;
    left: 10%;
}

.hero-button {
    display: inline-block;
}
