/* Component Spacing */
.hero {
    height: 350px;
    background-color: white;
    
}

/* Text Overlay */
.hero-text {
    position: absolute;
    top: 20%;
    left: 10%;

}

.hero-button {
    display: inline-block;
}

h1{
    font-weight: 300;
    color: black
}
h4 {
    margin: 20px 0;
    font-weight: 100;
    color: gray
}