/* styling for entire index file */

.full-page.width {
    overflow: hidden;
}
.extended-content-container {
    width: 500%;
    margin-left: -200%;
}

.content-container {
    align-items: center;
    width: 90%; 
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: auto;
}

.block {
    width: 100%;
    height: 100%;
    display: inline-block;
}